.meeting-date{
    font-size: 1.5rem;
    font-weight: 500;
    color: grey;
    padding-top: 0.5rem
}
mat-icon{
    color:purple;
    font-size: 1.8rem
}
.notes-row{
    border: 1px solid purple;
    padding: 1rem;
    background: rgb(243, 222, 243);
    border-radius: 1rem;
}
.notes-row .lead{
    font-weight: 600
}
.card{
    border: 0.8px solid purple;
}
.card span {
    /* font-weight: 500; */
    font-size: 1.2rem;
    color: purple
}
.hover{
    cursor: pointer;
    transition: all 0.3s ease
}
.hover:hover{
    transform: scale(1.1)
}
button:focus{
    outline: none
}