<div class="container" *ngIf="meetingDetails">

  <div class="row pt-5 pb-4 justify-content-end">
    <div class="col-1 pt-3">
      <back-btn class="country-back-btn pr-2"></back-btn>
    </div>
    <div class="col-11 display-4">
      <span>{{meetingDetails.title}}</span>
      <button mat-stroked-button color="accent" matTooltip="edit meeting" *ngIf="isAdmin" (click)="editMeeting()">Edit</button>
      <button mat-stroked-button color="accent" matTooltip="Cancel meeting" *ngIf="isAdmin" data-toggle="modal"
        data-target="#exampleModal">Cancel</button>
    </div>
    <div class="col-11 meeting-date">
      {{meetingDetails.time.start | date: 'd LLL yyy'}}
    </div>
    <div class="col-11" *ngIf="creator">
      <span class="lead">By {{creator.firstName}}-Admin</span>
    </div>
  </div>
  <!-- end row -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cancel Meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to cancel {{meetingDetails.title}}
        </div>
        <div class="modal-footer">
          <button mat-stroked-button color="accent" data-dismiss="modal">Close</button>
          <button mat-stroked-button color="primary" (click)="deleteMeeting()">Cancel Meeting</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary" (click)="deleteMeeting()">Cancel Metting</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <div class="card-deck text-center">
        <div class="card" matRipple>
          <div class="card-body">
            <mat-icon>access_time</mat-icon>
            <h5 class="card-title">Starts</h5>
            <p class="card-text lead">{{meetingDetails.time.start | date:'h:mm a'}}.</p>
          </div>
        </div>
        <div class="card" matRipple>
          <div class="card-body">
            <mat-icon>timer_off</mat-icon>
            <h5 class="card-title">Ends</h5>
            <p class="card-text lead">
              {{meetingDetails.time.end | date:'h:mm a'}}
              <span *ngIf="!meetingDetails.time.end">N/A</span>
            </p>
          </div>
        </div>
        <div class="card" matRipple>
          <div class="card-body">
            <mat-icon>location_on</mat-icon>
            <h5 class="card-title">Location</h5>
            <p class="card-text lead">{{meetingDetails.location}}
              <span *ngIf="!meetingDetails.location">N/A</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-4 justify-content-center">
    <div class="col-1"></div>
    <div class="col-auto">
      <div class="row notes-row align-items-center">
        <mat-icon>speaker_notes</mat-icon>
        <div class="col-2 lead text-right">Notes</div>
        <div class="col-auto">{{meetingDetails.notes}}</div>
        <div class="col-auto" *ngIf="!meetingDetails.notes">No notes</div>
      </div>
    </div>
  </div>


  <div class="row py-4 px-5" *ngIf="invitees">
    <div class="col-12 lead">Invitees ({{invitees.length}})
      <hr>
    </div>
    <div class="col-auto" *ngFor="let invitee of invitees">
      <div class="card m-2 py-2 px-3" matRipple>
        <span class="lead">{{invitee.firstName}} {{invitee.lastName}}</span>
        <small>{{invitee.email}}</small>
        <small>{{invitee.mobileNumber}}</small>
      </div>
    </div>
  </div>

</div>

<!-- end container -->