<!-- navbar -->
<nav class="navbar sticky-top navbar-expand-lg" [ngClass]="{'d-none': url.includes('/home')}">
    <a class="navbar-brand" [routerLink]="['/home']">Meet Pad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <mat-icon>menu </mat-icon>
      </span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="goToDashboard()">
            <button mat-button color="warn">Dashboard</button>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item my-auto">
            <button mat-button color="warn" [matMenuTriggerFor]="menu">{{getUserName()}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['profile']">
                    <mat-icon>person</mat-icon>
                    <span>View profile</span>
                </button>
              <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Logout</span>
              </button>
            </mat-menu>
          </li>
      </ul>
    </div>
  </nav>
  <!-- end navbar -->
  

<router-outlet></router-outlet>

<!-- footer -->
<footer [ngClass]="{'d-none': url !== '/home'}">
  <div class="container pt-5">
    <div class="row py-4">
      <div class="col-12 col-md-4 mb-4 mb-md-0 text-center text-md-left">
        <div class="row">
          <span class="col-12">API Documentation</span>
          <div class="col-12">
            <a class="footer-link" href="https://nitin095.github.io/meet-pad-documentation/ " target="blank">meet-pad-documentation</a>
          </div>
          <span class="col-12">Github repository</span>
          <div class="col-12">
            <a class="footer-link" href="https://github.com/nitin095/meeting-planner" target="blank">github.com/nitin095/meeting-planner</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0 text-center">
        <div class="row">
          <div class="col-12">
            <fa-icon class="mr-2 footer-icon" [icon]="faEnvelope"></fa-icon>
          </div>
          <span class="col-12 lead">nitinshokeen9@gmail.com</span>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="row">
          <div class="col-12">
            <a href="https://github.com/nitin095" target="blank">
              <fa-icon class="mr-2 footer-icon" [icon]="faGithubSquare"></fa-icon>
            </a>
          </div>
          <div class="col-12 lead">github.com/nitin095</div>
        </div>
      </div>
    </div>
    <div class="row py-1">
      <small class="col text-center">&copy; 2018 Nitin Shokeen</small>
    </div>
  </div>
</footer>