<!-- <div class="container">
  <div class="row justify-content-between">
    <div class="col-auto display-1">
      Hi! {{userDetails.firstName}} {{userDetails.lastName}}
    </div>
    <div class="col-2 p-2">
      <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col display-4" *ngIf="allMeetings">
      You have {{allMeetings.length}} meetings.
    </div>
    <div class="col display-4" *ngIf="!allMeetings">
      You have no meetings.
    </div>
  </div>
</div> -->
<!-- 
<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let meeting of allMeetings">
      <div class="card m-2 p-3">
        <div class="lead">
          {{meeting.title}}
        </div>
        <small>{{meeting.time.start | date:'d LLL yyy h:m a'}}</small>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12"> <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button></div>
        <div class="col-12 display-4" style="line-height: 1em">{{userDetails.firstName}} {{userDetails.lastName}}</div>
        <div class="col-12 lead">You have {{allMeetings.length}} meetings.</div>
      </div>
    </div>
    <div class="col-9">
      <div *ngIf="calendarOptions" style="height:90vh;">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
          (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)"></ng-fullcalendar>
      </div>
    </div>
  </div>
</div>