<div class="container-fluid">
  <div class="row">

    <div class="col-3 detail-col d-none d-md-block">
      <div class="row name py-2">
        <div class="col-12">
          <back-btn *ngIf="isAdmin" class="country-back-btn pr-2"></back-btn>
        </div>
        <div class="col-12 display-4" *ngIf="userName" style="line-height: 1em">{{userName}}</div>
      </div>
      <div class="row text-center dashboard-item">
        <div class="col-12 display-1 meeting-count">{{allMeetings.length}}</div>
        <div class="col-12 lead">upcoming meetings</div>
      </div>
      <div class="row justify-content-center text-center dashboard-item">
        <div class="col-12">Showing</div>
        <div class="col-auto pt-2">
          <mat-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:purple;font-size: 1.3rem" (click)="toggleColor('purple')">{{getIcon('purple')}}</mat-icon>
          <mat-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:green;font-size: 1.3rem" (click)="toggleColor('green')">{{getIcon('green')}}</mat-icon>
          <mat-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:goldenrod;font-size: 1.3rem" (click)="toggleColor('yellow')">{{getIcon('yellow')}}</mat-icon>
          <mat-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:red;font-size: 1.3rem" (click)="toggleColor('red')">{{getIcon('red')}}</mat-icon>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-9 calender-col">
      <div *ngIf="calendarOptions" style="height:90vh;">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
          (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)"></ng-fullcalendar>
      </div>

      <button *ngIf="isAdmin" class="create-meeting-button" matTooltip="Create new meeting" [routerLink]="['/admin/meeting/create']">+</button>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- end container-fluid -->