<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-md-8 px-5 py-2 create-meeting-col">

      <div class="row align-items-center">
        <back-btn class="country-back-btn"></back-btn>
        <div class="col-11 col-md-auto display-4">{{pageTitle}}</div>
      </div>

      <div class="row mt-2 justify-content-center">
        <mat-form-field class="col-10">
          <input matInput #titleInput placeholder="Title" maxlength="50" required [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
          <mat-hint align="end">{{titleInput.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-5">
          <input matInput [owlDateTime]="dt1" [min]="min" required [owlDateTimeTrigger]="dt1" [(ngModel)]="start"
            placeholder="Starts">
          <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
        <mat-form-field class="col-5">
          <input matInput [owlDateTime]="dt2" [min]="min" [owlDateTimeTrigger]="dt2" [(ngModel)]="end" placeholder="Ends">
          <owl-date-time #dt2></owl-date-time>
        </mat-form-field>
        <mat-form-field class="col-10">
          <input matInput placeholder="Location" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="col-10">
          <textarea matInput #notesInput maxlength="200" [(ngModel)]="notes" placeholder="Notes"></textarea>
          <mat-hint align="end">{{notesInput.value?.length || 0}}/200</mat-hint>
        </mat-form-field>

        <div class="col-10 my-4">
          <span class="my-2">Invitees</span>
          <small class="pl-4" *ngIf="invitees.length<1">Select invitees from users list</small>
          <mat-chip-list #chipList>
            <mat-chip [color]="chipColor" *ngFor="let user of invitees" [selectable]="true" [removable]="true"
              (removed)="removeInvitee(user)">
              {{user.firstName}} {{user.lastName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        
        <div class="col-10">

          <div class="row alert-row">
            <div class="col-12 col-md-auto" [ngClass]="{'mt-4':alerts.length>1}">
              <span>Alerts</span>
            </div>
            <div class="col">

              <div class="row" *ngFor="let alert of alerts">
                <mat-form-field class="col-4 col-md-3">
                  <mat-select [(value)]="alert.type">
                    <mat-option value="email">Email</mat-option>
                    <mat-option value="notification">Notification</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-2 col-md-2">
                  <input matInput type="number" [(ngModel)]="alert.number" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field class="col-4 col-md-3">
                  <mat-select [(value)]="alert.timeType">
                    <mat-option value="minutes">minutes</mat-option>
                    <mat-option value="hours">hours</mat-option>
                    <mat-option value="days">days</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-icon-button style="align-self: center" (click)="removeAlert(alert)">
                  <mat-icon style="color:lightgrey">close</mat-icon>
                </button>
              </div>
              <!-- end row -->

              <span class="add-alert-btn" (click)="addAlert()" style="align-self: center">Add
                alert</span>
            </div>
          </div>
          <!-- end alert-row -->
          <div class="row my-4 align-items-center">
            <span class="col-auto">Meeting color</span>
            <div class="col-auto">
              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:purple;font-size: 1.3rem" [icon]="colorCircle"
                (click)="selectColor('purple')" [ngClass]="{'d-none': meetingColor == 'purple'}"></fa-icon>
              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:purple;font-size: 1.3rem" [icon]="colorCheckCircle"
                [ngClass]="{'d-none': meetingColor !== 'purple'}"></fa-icon>

              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:red;font-size: 1.3rem" [icon]="colorCircle"
                (click)="selectColor('red')" [ngClass]="{'d-none': meetingColor == 'red'}"></fa-icon>
              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:red;font-size: 1.3rem" [icon]="colorCheckCircle"
                [ngClass]="{'d-none': meetingColor !== 'red'}"></fa-icon>

              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:green;font-size: 1.3rem"
                [icon]="colorCircle" (click)="selectColor('green')" [ngClass]="{'d-none': meetingColor == 'green'}"></fa-icon>
              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:green;font-size: 1.3rem"
                [icon]="colorCheckCircle" [ngClass]="{'d-none': meetingColor !== 'green'}"></fa-icon>

              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:gold;font-size: 1.3rem" [icon]="colorCircle"
                (click)="selectColor('goldenrod')" [ngClass]="{'d-none': meetingColor == 'goldenrod'}"></fa-icon>
              <fa-icon matRipple [matRippleCentered]="true" class="mx-2" style="color:gold;font-size: 1.3rem" [icon]="colorCheckCircle"
                [ngClass]="{'d-none': meetingColor !== 'goldenrod'}"></fa-icon>
            </div>
          </div>
        </div>
        <div class="col-auto my-4">
          <button matRipple type="submit" class="create-meeting-btn" (click)="createMeeting()">{{buttonText}}</button>
        </div>
      </div>

    </div>
    <!-- end col-8 -->

    <div class="col-12 col-md-4 invitees-col" *ngIf="allUsers">
      <div class="row heading-row sticky-top">
        <div class="col">
          <h3 class="text-uppercase pt-3 pb-2">Select invitees</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div matRipple class="row justify-content-between align-items-center user" *ngFor="let user of allUsers"
            (click)="addInvitee(user)" [ngClass]="{selected: isSelected(user)}">
            <div class="col-auto" *ngIf="isSelected(user)">
              <button mat-fab>
                <mat-icon aria-label="Example icon-button with a heart icon">check</mat-icon>
              </button>
            </div>
            <div class="col">
              <div class="row">
                <span class="col-12 lead">{{user.firstName}} {{user.lastName}}</span>
                <small class="col-12">{{user.email}}</small>
                <small class="col-9">{{user.mobileNumber}}</small>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end col-4 -->

  </div>
  <!-- end row -->

</div>
<!-- end container-fluid -->